page-home {

    ion-content {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-bottom-color: black;
    }

    ion-item {
        margin-top: 10px !important;
    }
}
