page-lms-dashboard {

    .CardHeaderClass{
        font-size: 140%;
    }

    .slide_class{
        margin-left: auto;
        margin-right: auto;
        height: 3.5cm;
        width: 5cm;
    }

    h3{
        text-align: center;
    }

    .MyClass2{
        margin-bottom: 3cm; 
        text-align: center
    }

    .MyClassLabel{
        text-align: center;
        font-size: 120%;
    }

    .MyButtonClass{
        margin-left: auto;
        margin-right: auto;
        display: block;
        background-color:rgb(68, 65, 65);
    }
}
