page-lms {


    .div1{
        width: 45%;
        height: 50%;
        float: left;
    }

    .div2{
        width: 45%;
        height: 50%;
        float: right;
    }

    .div3{
        width: 45%;
        height: 50%;
        float: left;
    }

    .div4{
        width: 45%;
        height: 50%;
        float: right;
    }

    .myClass1{
        background-color: rgb(68, 65, 65);
        height: 90%;
        width: 105%;
    }

    .myClass2{
        background-color: rgb(68, 65, 65);
        height: 90%;
        width: 105%;
    }

    .myClass3{
        background-color: rgb(68, 65, 65);
        height: 90%;
        width: 105%;
    }

    .myClass4{
        background-color: rgb(68, 65, 65);
        height: 90%;
        width: 105%;
    }

}
