page-lms-holiday {
    
    .ddl{
        margin-left: 3cm;
        margin-top: -1.5cm;
    }

    .button_class{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 4cm;
        background-color : rgb(68, 65, 65);
    }
}
